{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Good Air{% endblock %}</title>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <header>
  <div class="nav-left">
    <a href="{% url 'home' %}">
      <img src="{% static '/images/logo.png' %}" alt="Good Air Logo">
    </a>

    {% if user.is_authenticated %}
      
        <a href="{% url 'meteo' %}" class="nav-link-text {% if current_page == 'meteo' %}active{% endif %}">Météo</a>
        <a href="{% url 'stats' %}" class="nav-link-text {% if current_page == 'stats' %}active{% endif %}">Statistiques</a>
    
    {% endif %}
  </div>

  <nav class="nav-right">
    {% if user.is_authenticated %}
      <span class="greeting">Bonjour {{ user.username }}</span>
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Déconnexion</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}" class="nav-button">Se connecter</a>
      <a href="{% url 'register' %}" class="nav-button">S’inscrire</a>
    {% endif %}
  </nav>
</header>





  <!-- <header>
    <a href="{% url 'home' %}">
      <img src="{% static '/images/logo.png' %}" alt="Good Air Logo">
    </a>
    <nav>
      {% if user.is_authenticated %}
        <a href="{% url 'meteo' %}">Météo</a>
        <a href="{% url 'stats' %}">Statistiques</a>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" style="background:none; border:none; color:#e0e0e0; font-weight:500; cursor:pointer;">Déconnexion</button>
        </form>
      {% else %}
        <div class="auth-buttons">
            <a href="{% url 'login' %}">Se connecter</a>
            <a href="{% url 'register' %}">S’inscrire</a>
        </div>
      {% endif %}
    </nav>
  </header> -->

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
