{% extends 'base.html' %}
{% block title %}Statistiques - Good Air{% endblock %}




{% block content %}

<div class="stats-instruction" style="text-align:center; margin-top: 5rem;">
    <p>Pour accéder au dashboard Power BI, veuillez cliquer sur le bouton ci-dessous :</p>
    <a href="https://app.powerbi.com/onedrive/open?pbi_source=ODSPViewer&driveId=b!1Ry4nWwPgEiVitkWGKP165WKPZb9T5RKjc_ymVpP7LxYnHlwVb74TpMn5dfw6kXR&itemId=014WKINSPOWYQIE6PJCZGLLVDAQL4NVDUZ" 
       target="_blank" 
       rel="noopener noreferrer"
       class="btn-open-dashboard">
       Ouvrir le dashboard dans un nouvel onglet
    </a>
  </div>

  <div class="stats-container">
    <iframe
      title="Dashboard Power BI"
      width="100%"
      src="https://app.powerbi.com/reportEmbed?reportId=80ba683b-bc36-49b2-86b6-db86ee9b80a0&autoAuth=true&ctid=b6e77e52-65f6-4dec-b7d9-8e45f36a536f"
      frameborder="0"
      allowfullscreen="true"
      sandbox="allow-scripts allow-same-origin allow-popups"
    ></iframe>
  </div>
{% endblock %} 
